<app-navbar>
  <!--  -->
</app-navbar>

<div class="arcade">
  <router-outlet>
    <!--  -->
  </router-outlet>
</div>


<!-- <div class="arcade">
  <app-login *ngIf="!isLoggedIn()"></app-login>

  <div>
    <app-register *ngIf="mode === 'register' && !isLoggedIn()"></app-register>
  </div>

  <div>
    <button *ngIf="!isLoggedIn()" (click)="mode = 'register'">
      Register
    </button>
  </div>

  <app-todo *ngIf="isLoggedIn()"></app-todo>

  <p>
    -----------------------------------
  </p>

  <div>
    <button *ngIf="isLoggedIn()" (click)="logout()">
      Logout
    </button>
  </div>
</div> -->